<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <facebook_comment>
            <general>
                <enable>1</enable>
                <app_id>1917408658528547</app_id>
                <tab_title>Facebook Comment</tab_title>
                <theme>light</theme>
                <num_posts>8</num_posts>
                <order_by>social</order_by>
                <locale>en_US</locale>
                <show_face>1</show_face>
            </general>
        </facebook_comment>
    </default>
</config>
