<?xml version="1.0"?>
<!--
/**
 * GhoSter FacebookComment
 *
 * @package        GhoSter_FacebookComment
 * @author         GhoSter
 * @copyright      Copyright (c) 2016, GhoSter Inc<thinghost.info>. All rights reserved
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ghoster" sortOrder="200">
            <label>GhoSter Inc</label>
        </tab>
        <section id="facebook_comment" showInDefault="1">
            <tab>ghoster</tab>
            <label>Product Facebook Comment</label>
            <resource>GhoSter_FacebookComment::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Facebook Comment</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="app_id" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Facebook App ID</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="tab_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Detail Tab Title</label>
                    <comment>Set title for detail tab on the product page. Default value: "Facebook Comment"</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="facebook_theme" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Facebook Theme Scheme</label>
                    <source_model>GhoSter\FacebookComment\Model\Config\Source\Theme</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>